:root {
  --cor-1: #ffffff;
  --cor-2: #f7f7f7;
  --cor-3: #ededed;
  --cor-4: #dedede;
  --cor-5: #cccccc;
  --cor-6: #b2b2b2;
  --cor-7: #9c9c9c;
  --cor-8: #575151;
  --cor-9: #595959;
  --cor-10: #404040;
  --cor-11: #2e2e2e;
  --cor-12: #1a1a1a;
  --cor-13: #111111;
  --cor-14: #0f0f0f;
  --cor-15: #000000;

  --p1: #ffbb00;
  --p2: #e4a30b;
  --p3: #a66f00;
  --p4: #664400;
  --p5: #332200;
}