.interna-produtos {
  background: url(../img/bg-produtos.jpg) no-repeat center;
  background-size: cover;
}
.produto-item {
  padding-top: 60px;
  text-align: center;
}
.produto-item h2 {
  position: relative;
  top: -185px;
  color: white;
  text-align: center;
  font-size: 2.25em;
  font-weight: bold;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  line-height: 25px;
  margin-bottom: -70px;
}
.produto-item h2::before,
.produto-item h2::after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background: #fff;
  margin: 15px auto;
}
.produto-icone {
  background-color: #000;
}
.produto-icone img {
  margin: 0 auto;
  padding: 70px 0;
}
.produto-info {
  background-color: #000;
}
.produto-info p {
  color: #fff;
  font-size: 18px;
  line-height: 25px;
  padding: 30px 40px;
}
.produto-info ul li {
  background-color: #fec63e;
  font-weight: bold;
  font-size: 18px;
  text-transform: uppercase;
  line-height: 20px;
  float: left;
  width: 229px;
  height: 46.5px;
  text-align: center;
  padding-top: 15px;
}
.produto-info ul li:nth-child(1),
.produto-info ul li:nth-child(2) {
  margin-bottom: 2px;
}
.produto-info ul li:nth-child(even) {
  margin-left: 2px;
}

/* Orçamento */

.orcamento {
  background-color: #000;
  margin-top: 60px;
  padding: 60px 0;
}
.orcamento-dados {
  color: #fff;
}
.orcamento h2 {
  color: #fec63e;
  text-align: center;
  font-size: 2.25em;
  font-weight: bold;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  line-height: 25px;
}
.orcamento h2::after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background: #fec63e;
  margin: 15px auto;
}
.form {
  padding-right: 60px;
}
.form label {
  display: block;
  color: #fff;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 18px;
  line-height: 25px;
}
.form input,
.form textarea {
  margin-bottom: 10px;
  background: none;
  border: 3px solid #fec63e;
  padding: 4px;
  color: #fff;
  width: 100%;
  outline: none;
  font-size: 14px;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.form .btn-orcamento {
  background: none;
}
.orcamento-dados h3{
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  line-height: 25px;
  /* margin-top: 20px; */
  color: #fec63e;
  margin-bottom: 10px;
}
.orcamento-dados span{
  display: block;
  font-size: 16px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  line-height: 30px;
}
.orcamento-dados span:nth-of-type(2){
  margin-bottom: 20px;
}
.orcamento-dados p{
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 16px;
  padding-bottom: 6px;
}
.orcamento-dados ul{
  padding-right: 80px;
}
.orcamento-dados ul li{
  padding: 8px;
  font-size: 16px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.orcamento-dados ul li:nth-child(odd){
  background-color: #222222;

}